@import "compass/css3/gradient"
@import "blueprint"

header
  height: 80px  
  border-bottom: 1px solid #ccc
  @include background-image(linear-gradient(#fefefe,#f2f2f2))
  margin-bottom: 16px
header h5
  padding-top: 10px
header form
  float: right
  margin-top: 15px
header label
  display: inline
  float: none
  font-size: 1em
header input
  font-size: 1em
header .text-field
  display: block
  float: left
header input[type=submit]
  margin-left: 10px
#logo
  display: block
  text-indent: -9999px
  width: 177px
  height: 60px
  overflow: hidden
  background-image: url(/images/logo.png) 
  background-repeat: no-repeat

.container
  @include container

