.application-index
  text-align: center
.application-index .button
  float: none
  display: block
  margin: 0 auto
.application-index h1
  font-size: 1em
  font-weight: normal
#description
  width: 500px
  margin: 100px auto
