.player
  width: 480px
  height: 190px
  padding-top: 100px
  text-align: center
.play
  padding: 10px 30px
  border-radius: 5px
  background-color: #FAA732
  height: 30px
  width: 20px
  &:hover
    cursor: pointer
    background-color: #006CCC
.form-horizontal 
  .control-label
    width: 70px
  .controls
    margin-left: 80px

.btn-huge
  padding: 27px 80px
  font-size: 45px
  line-height: normal
  -webkit-border-radius: 15px
  -moz-border-radius: 15px
  border-radius: 15px
  margin-left: 0
  position: relative
  left: -20px

.pages-home .control-group
  margin-top: 28px
  padding-top: 20px
.scene
  display: none

.stop, .mute
  display: none
  position: absolute
  bottom: 5px
  left: 10px
.mute
  left: 25px
.player
  position: relative
  
