<!doctype html> 
<html lang="en"> 
<head> 
 <meta charset="utf-8" /> 
 <title>My Website</title> 
 <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen" /> 
 <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" /> 
 <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
</head> 
<body>
 <div class="topbar-wrapper clearfix" style="z-index: 5;">
    <div class="topbar" data-dropdown="dropdown" >
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">My Website</a></h3>
          <ul class="nav">
            <li class="active"><a href="">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
        </div>
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
  </div><!-- /topbar-wrapper -->
    <br style="clear:both" /> 
      <br style="clear:both" /> 
        <br style="clear:both" /> 

  <div class="container">
 


 
 <section id="content">
  {{ content }}
 </section> 
  <footer>
&copy; <a href="/">My Website</a> 
</footer>
</div> 
</body> 
</html> 


