/* line 3, ../../app/views/stylesheets/header.sass */
header {
  height: 80px;
  border-bottom: 1px solid #cccccc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(#fefefe, #f2f2f2);
  background-image: -moz-linear-gradient(#fefefe, #f2f2f2);
  background-image: -o-linear-gradient(#fefefe, #f2f2f2);
  background-image: linear-gradient(#fefefe, #f2f2f2);
  margin-bottom: 16px;
}

/* line 8, ../../app/views/stylesheets/header.sass */
header h5 {
  padding-top: 10px;
  padding-left: 20px;
}

/* line 11, ../../app/views/stylesheets/header.sass */
header form {
  float: right;
  margin-top: 15px;
}

/* line 14, ../../app/views/stylesheets/header.sass */
header label {
  display: inline;
  float: none;
  font-size: 1em;
}

/* line 18, ../../app/views/stylesheets/header.sass */
header input {
  font-size: 1em;
}

/* line 20, ../../app/views/stylesheets/header.sass */
header .text-field {
  display: block;
  float: left;
}

/* line 23, ../../app/views/stylesheets/header.sass */
header input[type=submit] {
  margin-left: 10px;
}

/* line 25, ../../app/views/stylesheets/header.sass */
#logo {
  display: block;
  text-indent: -9999px;
  width: 177px;
  height: 60px;
  overflow: hidden;
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
}

/* line 34, ../../app/views/stylesheets/header.sass */
.container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
