/* line 17, ../../../../../../usr/local/Cellar/ruby/1.9.2-p180/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../usr/local/Cellar/ruby/1.9.2-p180/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../usr/local/Cellar/ruby/1.9.2-p180/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../usr/local/Cellar/ruby/1.9.2-p180/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../usr/local/Cellar/ruby/1.9.2-p180/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../usr/local/Cellar/ruby/1.9.2-p180/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../usr/local/Cellar/ruby/1.9.2-p180/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../usr/local/Cellar/ruby/1.9.2-p180/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../usr/local/Cellar/ruby/1.9.2-p180/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 1, ../../app/views/stylesheets/defaults.sass */
body {
  font-size: 1em;
  line-height: 1.5em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #333333;
}

/* line 7, ../../app/views/stylesheets/defaults.sass */
h1, h2 {
  font-weight: bold;
  font-size: 2em;
  margin: 20px 0;
  clear: both;
}

/* line 12, ../../app/views/stylesheets/defaults.sass */
a {
  color: #333333;
}

/* line 3, ../../app/views/stylesheets/header.sass */
header {
  height: 80px;
  border-bottom: 1px solid #cccccc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(#fefefe, #f2f2f2);
  background-image: -moz-linear-gradient(#fefefe, #f2f2f2);
  background-image: -o-linear-gradient(#fefefe, #f2f2f2);
  background-image: linear-gradient(#fefefe, #f2f2f2);
  margin-bottom: 16px;
}

/* line 8, ../../app/views/stylesheets/header.sass */
header h5 {
  padding-top: 10px;
  padding-left: 20px;
}

/* line 11, ../../app/views/stylesheets/header.sass */
header form {
  float: right;
  margin-top: 15px;
}

/* line 14, ../../app/views/stylesheets/header.sass */
header label {
  display: inline;
  float: none;
  font-size: 1em;
}

/* line 18, ../../app/views/stylesheets/header.sass */
header input {
  font-size: 1em;
}

/* line 20, ../../app/views/stylesheets/header.sass */
header .text-field {
  display: block;
  float: left;
}

/* line 23, ../../app/views/stylesheets/header.sass */
header input[type=submit] {
  margin-left: 10px;
}

/* line 25, ../../app/views/stylesheets/header.sass */
#logo {
  display: block;
  text-indent: -9999px;
  width: 177px;
  height: 60px;
  overflow: hidden;
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
}

/* line 34, ../../app/views/stylesheets/header.sass */
.container {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 1, ../../app/views/stylesheets/forms.sass */
input, label, select {
  margin: 10px 0;
}

/* line 3, ../../app/views/stylesheets/forms.sass */
button, a.button, input[type=submit] {
  padding: 10px 30px;
  background-color: #aaaaaa;
  background-color: #dddddd;
  background-image: -moz-linear-gradient(top, white, #dddddd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #dddddd));
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 1px 1px white, 0 0 1px 1px white;
  -webkit-box-shadow: inset 0px 1px 1px white, 0 0 1px 1px white;
  box-shadow: inset 0px 1px 1px white, 0 0 1px 1px white;
  border-top-color: #bbbbbb;
  border-right-color: #bbbbbb;
  border-bottom-color: #999999;
  border-left-color: #bbbbbb;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  color: #444444;
  font-size: 0.8em;
  display: block;
  float: left;
  font-weight: bold;
  line-height: 1em;
  margin: 20px 0;
}

/* line 29, ../../app/views/stylesheets/forms.sass */
button:hover, a.button:hover, input[type=submit]:hover {
  background-color: #aaaaaa;
  -moz-box-shadow: 0px 1px 1px white, 0 0 1px 1px white;
  -webkit-box-shadow: 0px 1px 1px white, 0 0 1px 1px white;
  color: #5555aa;
}

/* line 1, ../../app/views/stylesheets/pages/home.sass */
.pages-home {
  text-align: center;
}

/* line 3, ../../app/views/stylesheets/pages/home.sass */
.pages-home .button {
  float: none;
  margin: 10px auto;
}

/* line 6, ../../app/views/stylesheets/pages/home.sass */
#description {
  width: 400px;
  margin: 100px auto;
}

/* line 2, ../../app/views/stylesheets/dropbox/show.sass */
.new_site label {
  width: 100px;
  display: block;
  float: left;
  clear: left;
}
/* line 7, ../../app/views/stylesheets/dropbox/show.sass */
.new_site p {
  margin: 10px 0;
  float: left;
}
/* line 10, ../../app/views/stylesheets/dropbox/show.sass */
.new_site input, .new_site select {
  float: left;
}
/* line 12, ../../app/views/stylesheets/dropbox/show.sass */
.new_site input[type=submit] {
  clear: left;
}

/* line 16, ../../app/views/stylesheets/dropbox/show.sass */
.existing label {
  margin: 0;
  display: block;
  width: 100px;
  float: left;
  font-size: 18px;
}
/* line 22, ../../app/views/stylesheets/dropbox/show.sass */
.existing input[type=text], .existing input[type=email], .existing input[type=password] {
  font-size: 16px;
  float: left;
  margin: 2px;
}
/* line 26, ../../app/views/stylesheets/dropbox/show.sass */
.existing input[type=submit] {
  padding: 4px 10px;
  clear: none;
  margin: 2px;
}
/* line 30, ../../app/views/stylesheets/dropbox/show.sass */
.existing .button_to {
  position: relative;
  left: -2px;
  float: right;
}
/* line 34, ../../app/views/stylesheets/dropbox/show.sass */
.existing select {
  float: left;
  display: block;
  margin: 4px 0;
}

/* line 38, ../../app/views/stylesheets/dropbox/show.sass */
.domain {
  clear: both;
  width: 320px;
  float: left;
}
