/* line 4, ../../../../../../usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../app/views/stylesheets/defaults.sass */
body {
  font-size: 1em;
  line-height: 1.5em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #333333;
}

/* line 7, ../../app/views/stylesheets/defaults.sass */
h1 {
  font-weight: bold;
  font-size: 2em;
  margin: 20px 0;
  clear: both;
}

/* line 12, ../../app/views/stylesheets/defaults.sass */
h2 {
  font-size: 0.9em;
  margin-left: 10px;
  font-style: italic;
}

/* line 16, ../../app/views/stylesheets/defaults.sass */
p {
  font-size: 1em;
}

/* line 18, ../../app/views/stylesheets/defaults.sass */
a {
  color: #333333;
}

/* line 20, ../../app/views/stylesheets/defaults.sass */
#site_domain {
  float: left;
}

/* line 3, ../../app/views/stylesheets/header.sass */
header {
  height: 80px;
  border-bottom: 1px solid #cccccc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee, #ffffff);
  background-image: -moz-linear-gradient(#eeeeee, #ffffff);
  background-image: -o-linear-gradient(#eeeeee, #ffffff);
  background-image: -ms-linear-gradient(#eeeeee, #ffffff);
  background-image: linear-gradient(#eeeeee, #ffffff);
  margin-bottom: 16px;
}

/* line 8, ../../app/views/stylesheets/header.sass */
header h5 {
  padding-top: 10px;
  padding-left: 20px;
}

/* line 11, ../../app/views/stylesheets/header.sass */
header #welcome-message {
  text-align: center;
  float: right;
}
/* line 14, ../../app/views/stylesheets/header.sass */
header #welcome-message a {
  margin: 10px;
}

/* line 16, ../../app/views/stylesheets/header.sass */
header label {
  display: inline;
  float: none;
  font-size: 1em;
}

/* line 20, ../../app/views/stylesheets/header.sass */
header input {
  font-size: 1em;
}

/* line 22, ../../app/views/stylesheets/header.sass */
header .text-field {
  display: block;
  float: left;
}

/* line 25, ../../app/views/stylesheets/header.sass */
header input[type=submit] {
  margin-left: 10px;
}

/* line 27, ../../app/views/stylesheets/header.sass */
#logo {
  display: block;
  text-indent: -9999px;
  width: 177px;
  height: 60px;
  overflow: hidden;
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
}

/* line 36, ../../app/views/stylesheets/header.sass */
.container {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 1, ../../app/views/stylesheets/forms.sass */
li {
  list-style: none;
}

/* line 3, ../../app/views/stylesheets/forms.sass */
form {
  overflow: hidden;
  width: 100%;
}

/* line 7, ../../app/views/stylesheets/forms.sass */
label {
  clear: left;
  width: 120px;
}

/* line 10, ../../app/views/stylesheets/forms.sass */
input, label, select {
  float: left;
  margin: 10px 0;
}

/* line 13, ../../app/views/stylesheets/forms.sass */
input[type=submit] {
  clear: left;
}

/* line 15, ../../app/views/stylesheets/forms.sass */
button, a.button, input[type=submit] {
  padding: 10px 30px;
  background-color: #aaaaaa;
  background-color: #dddddd;
  background-image: -moz-linear-gradient(top, white, #dddddd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #dddddd));
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 1px 1px white, 0 0 1px 1px white;
  -webkit-box-shadow: inset 0px 1px 1px white, 0 0 1px 1px white;
  box-shadow: inset 0px 1px 1px white, 0 0 1px 1px white;
  border-top-color: #bbbbbb;
  border-right-color: #bbbbbb;
  border-bottom-color: #999999;
  border-left-color: #bbbbbb;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  color: #444444;
  font-size: 0.8em;
  display: block;
  float: left;
  font-weight: bold;
  line-height: 1em;
  margin: 20px 0;
}

/* line 41, ../../app/views/stylesheets/forms.sass */
button:hover, a.button:hover, input[type=submit]:hover {
  background-color: #aaaaaa;
  -moz-box-shadow: 0px 1px 1px white, 0 0 1px 1px white;
  -webkit-box-shadow: 0px 1px 1px white, 0 0 1px 1px white;
  color: #5555aa;
}

/* line 1, ../../app/views/stylesheets/pages/home.sass */
.pages-home {
  text-align: center;
}

/* line 3, ../../app/views/stylesheets/pages/home.sass */
.pages-home .button {
  float: none;
  margin: 10px auto;
}

/* line 6, ../../app/views/stylesheets/pages/home.sass */
.pages-home h1 {
  font-size: 1em;
  font-weight: normal;
}

/* line 9, ../../app/views/stylesheets/pages/home.sass */
#description {
  width: 400px;
  margin: 100px auto;
}

/* line 2, ../../app/views/stylesheets/dropbox/show.sass */
.new_site label {
  width: 100px;
  display: block;
  float: left;
  clear: left;
}
/* line 7, ../../app/views/stylesheets/dropbox/show.sass */
.new_site p {
  margin: 10px 0;
  float: left;
}
/* line 10, ../../app/views/stylesheets/dropbox/show.sass */
.new_site input, .new_site select {
  float: left;
}
/* line 12, ../../app/views/stylesheets/dropbox/show.sass */
.new_site input[type=submit] {
  clear: left;
}

/* line 16, ../../app/views/stylesheets/dropbox/show.sass */
.existing label {
  margin: 0;
  display: block;
  width: 100px;
  float: left;
  font-size: 18px;
}
/* line 22, ../../app/views/stylesheets/dropbox/show.sass */
.existing input[type=text], .existing input[type=email], .existing input[type=password] {
  font-size: 16px;
  float: left;
  margin: 2px;
}
/* line 26, ../../app/views/stylesheets/dropbox/show.sass */
.existing input[type=submit] {
  padding: 4px 10px;
  clear: none;
  margin: 2px;
}
/* line 30, ../../app/views/stylesheets/dropbox/show.sass */
.existing .button_to {
  position: relative;
  left: -2px;
  float: right;
}
/* line 34, ../../app/views/stylesheets/dropbox/show.sass */
.existing select {
  float: left;
  display: block;
  margin: 4px 0;
}

/* line 38, ../../app/views/stylesheets/dropbox/show.sass */
.domain {
  clear: both;
  width: 320px;
  float: left;
}

/* line 1, ../../app/views/stylesheets/sites/new.sass */
#site_domain_tld {
  float: left;
}

/* line 1, ../../app/views/stylesheets/layouts/application.sass */
html, body {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1870ab), color-stop(100%, #0c2c57));
  background-image: -webkit-linear-gradient(#1870ab, #0c2c57);
  background-image: -moz-linear-gradient(#1870ab, #0c2c57);
  background-image: -o-linear-gradient(#1870ab, #0c2c57);
  background-image: -ms-linear-gradient(#1870ab, #0c2c57);
  background-image: linear-gradient(#1870ab, #0c2c57);
  height: 100%;
}

/* line 4, ../../app/views/stylesheets/layouts/application.sass */
.content {
  padding: 20px;
  margin: 16px auto;
}

/* line 7, ../../app/views/stylesheets/layouts/application.sass */
.container {
  height: 100%;
  background-color: white;
}

/* line 12, ../../app/views/stylesheets/layouts/application.sass */
footer {
  background-color: red;
  border-top: 1px solid #cccccc;
}
/* line 16, ../../app/views/stylesheets/layouts/application.sass */
footer h3 {
  font-weight: bold;
  color: #aaaaaa;
  font-size: 1.2em;
}
/* line 20, ../../app/views/stylesheets/layouts/application.sass */
footer a {
  color: #aaaaaa;
  text-decoration: none;
}
/* line 23, ../../app/views/stylesheets/layouts/application.sass */
footer a:hover {
  color: #333333;
}
/* line 25, ../../app/views/stylesheets/layouts/application.sass */
footer section {
  text-align: left;
  float: left;
  margin-left: 50px;
}
/* line 29, ../../app/views/stylesheets/layouts/application.sass */
footer section ul {
  list-style-type: none;
}
