html,body
  //@include background-image(linear-gradient(#004,#06c))
  @include background-image(linear-gradient(#ddd,#fff))
  background-size: 400px
  background-repeat: repeat-x
  margin: 0
.content
  padding: 20px
  margin: 0 auto
.container
  background-color: #fff
  box-shadow: 0 0 3px #666
  width: 960px
  margin: 10px auto
header
  overflow: auto
  padding: 10px 0 20px
  border-bottom: 1px solid #ccc
  border-radius: 3px 0 3px 0
  #logo
    text-align: left
    text-decoration: none
    width: 200px
    height: 80px
    float: left
    margin-left: 10px
    padding: 0


  #welcome-message, a[href="/users/sign_out"]
    text-align: center
    float: right
    margin: 0 10px
    width: 120px
    padding: 5px 10px
    clear: right
  ul
    float: left
    margin: 0
    padding: 0
    border-top: 1px solid #ccc
    list-style: none
    padding-top: 10px
    width: 960px
    height: 10px
  nav li
    margin: 0
    padding: 0 50px
    float: left
    font-weight: bold
    text-align: center
    a
      text-decoration: none
      font-size: 2em
header label
  display: inline
  float: none
  font-size: 1em
header input
  font-size: 1em
header .text-field
  display: block
  float: left
header input[type=submit]
  margin-left: 10px

h5
  text-align: left
  float: left
  margin: 0
  padding: 0



