%img{:src => "https://secure.gravatar.com/avatar/f7a52a516043eacbc86885c0f6c68bda?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png"}
%h1 Hi!
%p I'm Mason Fischer. I am a web developer based in Boston, Massachusetts. I work at <a href="http://www.stirltech.com/">Stirling Technologies</a>. We do Ruby on Rails consulting, branding and marketing.  I am developing KISSr in my spare time. If you like the idea or have any questions or comments I'd love to hear from you!


%p Phone: 802 355 5424
%p Email: mason at kissr.co
