%h1 Compare
%table.table.table-bordered.table-striped
  %tr
    %th
    %th GoDaddy Ultimate 4 GH
    %th Dreamhost.com
    %th KISSr.co Free
    %th KISSr.co Premium
  %tr
    %th Domain Included
    %th.x ✗
    %th.check ✓
    %th.x ✗
    %th.check ✓
  %tr
    %th Server Side Scripts
    %th.check ✓
    %th.check ✓
    %th.x ✗
    %th.x ✗
  %tr
    %th Version Control via Dropbox
    %th.x ✗
    %th.x ✗
    %th.check ✓
    %th.check ✓
  %tr
    %th Sharing via Dropbox
    %th.x ✗
    %th.x ✗
    %th.check ✓
    %th.check ✓
  %tr
    %th Backup via Dropbox
    %th.x ✗
    %th.x ✗
    %th.check ✓
    %th.check ✓
  %tr
    %th Storage Space
    %th Unlimited
    %th Unlimited
    %th 50mb
    %th Unlimited
  %tr
    %th Storage Space
    %th Unlimited
    %th Unlimited
    %th 50mb
    %th Unlimited
  %tr
    %th Price Per Year
    %th $101.88
    %th $107.4
    %th Free!
    %th $99.99
%h1 Decide
%p The current standard for connecting to a web host is the file transfer protocol(FTP). FTP is over #{link_to "40 years old","http://www.bit-tech.net/news/hardware/2011/04/15/ftp-is-40-years-old/1"}! Newer tools have been developed to transfer files between computers over a network. Instead of transferring your files from your local machine to your web server via FTP KISSr allows you to use a much more intuative tool called #{link_to "Dropbox","http://www.dropbox.com/"}. KISSr allows you to place your website in a folder in your Dropbox and Dropbox will automatically copy it to KISSr's web server.

%p KISSr's servers host HTML and CSS. They do not support server side code. This allows them to remain lean for faster page loads. There are #{link_to "many known advantages to hosting static sites", "http://ryanhayes.net/blog/why-you-should-build-your-website-using-static-html-files/"}. If you want to host a content manager or a forum you will still have to use a webhost such as GoDaddy or Dreamhost.
%p Easy deployment of your websites is just the beginning of what makes KISSr so powerful. Since KISSr synchronizes with Dropbox you get all the goodness of Dropbox included. Version control through Dropbox allows you to "go back in time" if you changed or deleted something on your site you didn't mean to. Dropbox sharing features can also be utilized for working on websites in teams.
%h3 When to use KISSr
%ul
  %li You have generated a site using a WYSIWYG editor such as iWeb, RapidWeaver or Sandvox
  %li You have generated a static site with Jekyll
  %li You know or want to learn HTML and CSS and want to code your site yourself
%h3 When not to use KISSr
%ul
  %li Hosting a CSM, CRM or a forum
  %li Hosting an application written in Ruby, Python, PHP or Perl
  %li Hosting an online portal
