#description
  %h1 KISSr enables you to host websites out of your Dropbox 
  
  =link_to "Login with Dropbox",'/auth/dropbox', :class=> "btn primary"
  %br
  %a{:href=>"http://docs.kissr.co/faq#what-is-dropbox"} What is Dropbox?
