#description
  %h1 Simple Website Creation
  %p KISSr was developed by a web developer who was fed up with how hard it was to create websites. 
  %p He decided to make it simpler.

  %h3 Step 1:
  =link_to "Login to Dropbox","/dropbox/connect", :class=> "button"
  %a{:href=>"/faq/dropbox"} What is Dropbox?
