#description
  %h1 Simple Website Creation
  %p KISSr was developed by a web developer who was fed up with how hard it was to create websites. He decided to make a service based on the design principle "Keep it Simple Stupid." KISSr allows you to edit your sites in a Dropbox folder, design templates in Liquid and write your content in Markdown.
  =link_to "Connect to Dropbox","/dropbox/connect", :class=> "button"
