#description
  %p KISSr was developed by a web developer who was fed up with how hard it was to create websites. 
  %p He decided to make it simpler.

  %h1 Step 1:
  =link_to "Login to Dropbox",'/auth/dropbox', :class=> "button"
  %a{:href=>"/faq/dropbox"} What is Dropbox?
