/* line 2, ../../../app/assets/stylesheets/users/new.sass */
#description {
  display: none;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails31/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #description {
  overflow-x: hidden;
}

/* line 5, ../../../app/assets/stylesheets/users/new.sass */
#signup {
  float: right;
}
