/* line 2, ../../../app/views/stylesheets/users/new.sass */
#description {
  display: none;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
}
/* line 147, ../../../../../../../usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #description {
  overflow-x: hidden;
}

/* line 5, ../../../app/views/stylesheets/users/new.sass */
#signup {
  float: right;
}
