%table
  -@files.each do |file|
    %tr
      %td
        =image_tag '/images/dropbox-icons/'+file.icon+'.png'
      %td
        =file.path[1..-1]
      %td
        =file.size
      %td
        =time_ago_in_words file.modified
      %td
        =form_for @site do |f|
          =f.hidden_field "path",:value=>file.path
          =f.text_field "subdomain"
          =f.select( "domain", Site::DOMAINS)
          =f.submit "Attach"
        -Site.find_by_path_and_dropbox_token(file.path,@dropbox_token).to_a.each do |existing_site|
          .domain="#{existing_site.subdomain}.#{existing_site.domain}"
          =link_to "Detach", site_path(existing_site), :confirm => "Are you sure?", :method=>:delete , :class=>"button"
          %br
