%h2 Create a KISSr Folder
=form_for @site do |f|
  =hidden_field_tag "new","true"
  =f.label "path","Folder Name"
  =f.text_field "path"
  =f.label "domain"
  =f.text_field "subdomain"
  %p .
  =f.select( "domain", Site::DOMAINS)
  =f.submit "Create"

%h2 Or attach KISSr to an existing Dropbox folder
%table.existing
  %thead
    %tr
      %th{:colspan=>"2"} Name
      %th Size
      %th Modified
      %th Domain
  -@files.each do |file|
    %tr
      %td
        =image_tag '/images/dropbox-icons/'+file.icon+'.png'
      %td
        =file.path[1..-1]
      %td
        =file.size
      %td
        =time_ago_in_words file.modified
      %td
        =form_for @site do |f|
          =f.hidden_field "path",:value=>file.path[1..-1]
          =f.text_field "subdomain"
          =f.select( "domain", Site::DOMAINS)
          =f.submit "Attach"
        -Site.find_all_by_path_and_user_id(file.path,session[:user]).to_a.each do |existing_site|
          .domain="#{existing_site.subdomain}.#{existing_site.domain}"
          =button_to "Detach", site_path(existing_site), :confirm => "Are you sure?", :method=>:delete , :class=>"button"
          %br
