/* line 1, ../../app/views/stylesheets/forms.sass */
input, label, select {
  margin: 10px 0;
}

/* line 3, ../../app/views/stylesheets/forms.sass */
button, a.button, input[type=submit] {
  padding: 10px 30px;
  background-color: #aaaaaa;
  background-color: #dddddd;
  background-image: -moz-linear-gradient(top, white, #dddddd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #dddddd));
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 1px 1px white, 0 0 1px 1px white;
  -webkit-box-shadow: inset 0px 1px 1px white, 0 0 1px 1px white;
  box-shadow: inset 0px 1px 1px white, 0 0 1px 1px white;
  border-top-color: #bbbbbb;
  border-right-color: #bbbbbb;
  border-bottom-color: #999999;
  border-left-color: #bbbbbb;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  color: #444444;
  font-size: 0.8em;
  display: block;
  float: left;
  font-weight: bold;
  line-height: 1em;
  margin: 20px 0;
}

/* line 29, ../../app/views/stylesheets/forms.sass */
button:hover, a.button:hover, input[type=submit]:hover {
  background-color: #aaaaaa;
  -moz-box-shadow: 0px 1px 1px white, 0 0 1px 1px white;
  -webkit-box-shadow: 0px 1px 1px white, 0 0 1px 1px white;
  color: #5555aa;
}
