%h1 Not Found
%p="#{params[:path].nil? ? "index":params[:path]}.html was not found in /Dropbox/#{@site.path}"
%p
  If you are the site owner please follow the tutorial on 
  %a{:href=>"http://docs.kissr.com/tutorials/getting_started"} Getting Started
