Your site is now live at: 
%a{:href=>"http://#{@site.hostname}",:target=>"_blank"}#{@site.hostname}
! 
%br
A folder called 
%strong="\"#{@site.dropbox_folder}\""
has been created in your Dropbox which contains your new website. To edit the content on your frontpage open
%strong index.md
