Your site is now live at: 
%a{:href=>"http://#{@site.domain}",:target=>"_blank"}=@site.domain.to_s+"!"
%br
To edit your site open the file: <strong>/Dropbox/Apps/Droplamp/#{@site.dropbox_folder}/index.html</strong>

