Your site is now live at: 
%a{:href=>"http://#{@site.hostname}",:target=>"_blank"}#{@site.hostname}
! 
%br
KISSr has created the folder /Dropbox/Apps/KISSr/ 
%strong=@site.dropbox_folder
which contains your new website. 
%br
To edit your frontpage open the file:
%strong index.md
