A folder called 
%strong="\"#{@site.path}\""
has been created in your Dropbox which contains your new website.
%br
Your site is now live at: 
%a{:href=>@site.domain.url,:target=>"_blank"}#{@site.domain}! 
