=content_for :head do
  :coffeescript
    $().ready ->
      $("#domain_preregistered,label[for=site_already_registered]").hide()
      $("#domain_tld").change ->
        if $(this).val() != "droplamp.com"
          $("#domain_preregistered,label[for=site_already_registered]").slideDown()
        else
          $("#domain_preregistered,label[for=site_already_registered]").slideUp()
        false
=form_for @site do |f|
  %fieldset
    .clearfix
      = f.label :hostname, "Domain"
      .input
      
      -#.help-block I've already registered this domain
    -#-if current_user.name=="Mason Fischer" then
    -#  = check_box_tag "domain_preregistered",0,{:checked=>:checked}
    -#-else
    -#  = check_box_tag "domain_pregistered",1,{:checked=>:checked}
  
  -#=text_field_tag :site, :dropbox
  .clearfix
    = f.label :dropbox_folder, "Dropbox Folder"
    .input
      .input-prepend
        %span.add-on Dropbox/Apps/DropLamp/
        = f.text_field :dropbox_folder, :placeholder => "My Website"
      .help-block Name of the folder DropLamp will create in your Dropbox
  = f.submit :class => "btn primary"

