#content
  %h1 Manage Sites
  %table{:class=>"zebra-striped"}
    %thead
      %tr
        %th Name
        %th Domain
        %th Actions
      -@sites.each do |site|
        %tr
          %td=site.dropbox_folder
          %td=site.hostname
          %td
            %a{:href=>edit_site_path(site)}
              %img{:src => "/assets/icons/pencil.png"}
            =link_to site, :method => "delete" do
              =image_tag "/assets/icons/cross.png"
      %tr
        %td{:cospan=>3}
          %a{:href=>new_site_path,:class=> "btn" } Create Site
   
