=semantic_form_for @site do |f|
  =f.semantic_fields_for :domain do |d|
    = d.input :domain, :label=> "Domain"
    %span{:id=>"dot"}.
    = d.select :tld, Domain::TLDS, :for => :domain
  = f.input :path,:label=> "Dropbox Folder"
  = f.submit "Attach Domain"

